.e-gantt .e-gantt-chart .e-custom-holiday {
    background-color: #E7F1FF;
}

.e-segmented-taskbar.e-gantt-clone-taskbar {
    top: 0px !important;
}

.e-segmented-taskbar {
    outline: 0px !important;
}

.e-gantt .e-gantt-chart .e-custom-event-markers .e-span-label {
    top: 90px;
}

.e-gantt .e-gantt-chart .e-label {
    margin-top: 10px;
}

.e-grid .e-headercelldiv {
    padding: 0px 8px;
}

.e-gantt .e-gantt-chart .e-holiday .e-span {
    left: 6px !important;
    font-size: 12px;
}
